:root{
    --imgsz: 1.8rem;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'arial', sans-serif;
    overflow-x: hidden;
}
.nav-flex-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10px;
    position: fixed;
    top: 6px;
    width: 99%;
    height: auto;

}
.nav-link:link, :visited{
    color: white;
    text-decoration: none;
    color: #242424;
}
.nav-link:hover{
    text-decoration: underline;
}

.nav-flex-left, .nav-flex-right{
    display: flex;
    flex-direction: row;
    margin-top: 12px;
}

.nav-flex-left{
    margin-left: 15px;
    gap: 25px;
}
.right{
    margin-right: 20px;
}
.menu-img{
    margin-right: 15px;
}

.nav-img{
    width: var(--imgsz);
    height: var(--imgsz);
    margin: 0;
    padding: 0;
    position: relative;
    left: 4px;
    bottom: 1px;

}
.pfp{
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
    bottom: 8px;
    z-index: -1;
    margin: 0;
    padding: 0;
}
.nine-img{
    position: sticky;
}
.circle-border{
    border-radius: 50%;
}
.nav-img-cont{
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 14px;
    margin-left: 10px;

}
.nav-img-cont:hover{
    background-color: rgb(211, 211, 211);
    border-radius: 50%;
}
#core{
    width: 100%;
    height: 92vh;
}
#main-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
    flex-wrap: wrap;
}
.main-img{
    flex-basis: 100%;
}
.search-cont{
    margin-top: 30px;
    width: 30%;
    border: 1px solid #dfe1e5;
    padding: 11px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    max-height: 45px;
}
#src-img{
    width: 15px;
    height: 15px;
    margin: 0;
}
#search{
    width: 100%;
    margin: 0;
    font-size: 1rem;
    border: 0px;
}
#search:focus{
    border: 0px #dfe1e5 solid;
    outline-width: 0;
}
.search-cont:hover{
    border: 2px #dfe1e5 solid;
}
.button-cont{
    margin-top: 25px;
    display: flex;
    gap: 15px
}
.google-btn{
    padding: 8px 12px;
    background-color: #f8f9fa;
    border: 2px #f8f9fa solid;
    font-size: .85rem;
    border-radius: 4px;
}
.google-btn:hover{
    border: 1px #d8d8d8 solid;
}
